# Logs
logs
*.log
npm-debug.log*

# Node.js
node_modules/
npm-debug.log*
.npm
.eslintcache
.cache

# dotenv environment variable files
.env
.env.*
!.env.example

# IDE Files
.vscode/

# OS Generated
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini
